<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>¡ Spam-Bot !</title>
<meta name="description" content="Parfait pour pas rater l'anniversaire de ta grand-mère ou spammer tes potes, ce bot te permettras d'envoyer des messages à une date prévue ou alors toutes les minutes." />
<link rel="stylesheet" href="/stylesheets/connect.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/js/materialize.min.js"></script>
<script src="/js/viewIndex.js"></script>
<script src="/js/viewHeader.js"></script>