<header>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a class="header_user left" target="_blank" href="https://discord.gg/7ftG9Dj">
                <img src="/favicon.ico" class="favicon">
            </a>
            <a href="https://discord.gg/7ftG9Dj" target="_blank" class="left btn join-discord waves-effect">Join my Discord's server !</a>
            <a href="/" class="brand-logo center grey-text text-lighten-2">ยก Automate !</a>
            <% if (locals.header) { %> 
                <div class="header_user right">
                    <img src="<%= header.avatar %>" class="discord-avatar tooltipped" data-position="left" data-tooltip="<%= header.username %>">
                </div>
                <div id="remove_account_modal" class="modal">
                    <div class="modal-content" style="text-align: center;">
                        <h5>Are you sure you want to leave ?</h5>
                    </div>
                    <div class="modal-footer footer">
                        <a href="#!" style="margin-top: -10px" class="modal-close waves-effect btn-flat">Cancel</a>
                        <a href="#!" id="confirm-deco" style="margin-top: -10px" class="modal-close waves-effect btn">Confirm</a>
                    </div>
                </div>
            <% } %>
        </div>
    </nav>
</header>