<header>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <div class="header_user left">
                <img src="/favicon.ico" class="favicon">
            </div>
            <a href="/" class="brand-logo center grey-text text-lighten-2">¡ Spam-Bot !</a>
            <% if (locals.header) { %> 
                <div class="header_user right">
                    <img src="<%= header.avatar %>" class="discord-avatar tooltipped" data-position="left" data-tooltip="<%= header.username %>">
                </div>
                <div id="remove_account_modal" class="modal">
                    <div class="modal-content" style="text-align: center;">
                        <h5>Veux-tu vraiment te déconnecter ?</h5>
                    </div>
                    <div class="modal-footer footer">
                        <a href="#!" style="margin-top: -10px" class="modal-close waves-effect btn-flat">Annuler</a>
                        <a href="#!" id="confirm-deco" style="margin-top: -10px" class="modal-close waves-effect btn">Confirmer</a>
                    </div>
                </div>
            <% } %>
        </div>
    </nav>
</header>