<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Programmateur de messages Discord</title>
<link rel="stylesheet" href="/stylesheets/connect.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/js/materialize.min.js"></script>
<script src="/js/viewHeader.js"></script>