<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ยก Spam-Bot !</title>
<meta name="description" content="This bot is perfect for reminding you of your grandma's birthday or spam your bros, I will allow you to send messages automatically. You'll thank me later ;)" />
<link rel="stylesheet" href="/stylesheets/connect.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/js/materialize.min.js"></script>
<script src="/js/viewIndex.js"></script>
<script src="/js/viewHeader.js"></script>