<div id="options_modal" class="modal bottom-sheet">
    <div class="modal-content grey darken-4 grey-text text-lighten-2" style="text-align: center">
        <button class="waves-effect waves-light btn grey darken-3 edit">
            <i class="material-icons blue-grey-text text-lighten-2" style="font-size: 12px; transform: scale(1.5); margin-right: 10px;">edit</i>
            Edit message
        </button>
        <br>
        <button class="waves-effect waves-light btn grey darken-3 delete" style="margin-top: 15px;">
            <i class="material-icons red-text" style="font-size: 12px; transform: scale(1.5); margin-right: 10px;">delete</i>
            Delete message
        </button>
    </div>
</div>