<div id="remove_modal" class="modal bottom-sheet modal-fixed-footer" style="height: 30% !important">
    <div class="modal-content grey darken-3 grey-text text-lighten-2" style="text-align: center">
        <h5>Are you sure you want to delete this message ?</h5>
    </div>
    <div class="modal-footer footer">
        <button href="#!"
            class="modal-close waves-effect waves-light btn-flat grey-text text-lighten-2">Cancel</button>
        <button href="#!" class="modal-confirm waves-effect waves-light btn grey darken-3">Confirm</button>
    </div>
</div>