<div id="setTimezone" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 style="margin-top: 3px;">Select your server timezone below :</h5>
        <div class="input-field col s12 section">
            <input type="text" id="timezone-input" class="autocomplete" autocomplete="off">
            <label for="timezone-input">Type your city or country name</label>
        </div>
    </div>
    <div class="modal-footer footer">
        <button href="#!"
            class="modal-close waves-effect waves-light btn-flat grey-text text-lighten-2">Cancel</button>
        <button href="#!" class="modal-confirm waves-effect btn disabled">Set the timezone</button>
    </div>
</div>