<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head.ejs %> 
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const connect_window = document.querySelector(".connect-window");
            setTimeout(() => {
                connect_window.classList.remove("scale-out");
                connect_window.classList.add("scale-in");
            }, 500);
        });
    </script>
</head>
<body class="black">
    <% include partials/header.ejs %>
    <div class="body-wrapper connect-window">
        <span class="card-title">Parfait pour pas rater l'anniversaire de ta grand-mère ou spammer tes potes, ce bot te permettras d'envoyer des messages à une date prévue ou alors toutes les minutes</span>
        <p>Ca t'intéresse ? Bah clique donc sur ce bouton pour connecter ton compte Discord</p>
        <div class="card-action">
            <a href="<%= oauth_link %>" class="connect-btn waves-effect">Me connecter</a>
        </div>
    </div>
</body>
</html>
