<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head.ejs %> 
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const connect_window = document.querySelector(".connect-window");
            setTimeout(() => {
                connect_window.classList.remove("scale-out");
                connect_window.classList.add("scale-in");
            }, 500);
        });
    </script>
</head>
<body class="black">
    <% include partials/header.ejs %>
    <div class="body-wrapper connect-window">
        <span class="card-title">This bot is perfect for reminding you of your grandma's birthday, I will allow you to send messages automatically. You'll thank me later ;)</p>
        <!-- <span class="card-title">Spambot is currently broken because too many people are using it ! Sorry for the inconvenience, come back later ;)</span> -->
        <div class="card-action">
            <a href="<%= oauth_link %>" class="connect-btn waves-effect">Connect</a>
        </div>
    </div>
</body>
</html>
