@import "../../node_modules/materialize-css/sass/materialize.scss";

$flash-color: #e0e0e0;
$grey-darken-3: #424242;

.body-wrapper {
    @extend .black;
}
.fixed-action-btn {
    display: flex;
    flex-direction: column;

    img {
        width: 60%;
        height: 100%;
        margin-left: -1%;
    }
}
.guild-data {
    @extend .section,
    .card,
    .grey,
    .darken-4,
    .grey-text,
    .text-lighten-1,
    .center,
    .hoverable,
    .waves-light,
    .hoverable;
    font-size: 1.4em !important;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: all 300ms;
    padding: 10px;
    position: relative;
}
.guild-data h5 {
    margin: 0px !important;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.guild-icon {
    @extend .z-depth-2;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 7px;
}
.return-icon, .menu-icon {
    margin-left: 7px;
    font-size: 45px;
    margin-top: 4px;
    transition: all 350ms;
}
.menu-icon {
    transform: translateX(-10px);
    opacity: 0;
    margin-left: 0;
}
.guild-data:hover .menu-icon {
    opacity: 1;
    transform: translateX(-5px);
}
.guild-data:hover .return-icon {
    transform: translateX(-10px);
}
.crons {
    @extend .section,
    .card,
    .grey,
    .darken-4,
    .grey-text,
    .text-lighten-1;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 20px;
}

.crons table {
    min-height: 165px;
}
.crons tbody {
    text-align: center;
}
.crons tbody tr {
    @extend .waves-light;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
}

.crons tbody tr:hover {
    @extend .grey,
    .darken-2;
}

.crons tbody tr:hover i {
    @extend .scale-in;
}

.crons tbody tr i {
    @extend .scale-transition,
    .scale-out;
    position: absolute;
    right: 25px;
    font-size: 1.5em;
    color: red;
}

#addTimer, #add_cron {
    @extend .grey,
    .darken-4;
    top: 5% !important;
    height: 90% !important;
    max-height: 90% !important;
    width: 90% !important;
    text-align: center;
}

.footer {
    @extend .grey, 
    .darken-4;
}

.select-dropdown {
    @extend .grey,
    .darken-4,
    .grey-text,
    .text-darken-4;
}

.select-dropdown span {
    @extend .grey-text,
    .text-lighten-2;
}

.input-field {
    transition: all 350ms !important;
    padding: 0px !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
input,
textarea {
    @extend .grey-text, .text-lighten-2;
}
/* label color */
.input-field label {
    @extend .grey-text,
    .text-lighten-2;
}

/* label focus color */
.input-field input[type=text]:focus+label,
.input-field textarea:focus+label {
    @extend .grey-text,
    .text-lighten-2;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=text].valid,
.input-field input[type=text].invalid,
.input-field textarea:focus,
.input-field textarea.valid,
.input-field textarea.invalid {
    border-bottom: 1px solid $flash-color !important;
    box-shadow: 0 1px 0 0 $flash-color !important;
}
.timepicker-digital-display, .datepicker-date-display {
    @extend .black;
}
.datepicker-calendar-container {
    @extend .grey, .darken-3;
}
.datepicker-calendar .selects-container  .select_wrapper input {
    background-color: $grey-darken-3 !important;
}

@media screen and (max-width: 600px)
{
    .body-wrapper {
        margin-left: 17px;
        margin-right: 17px;
        padding: 0px;
    }
    .guild-data {
        padding: 6px;
    }
    .return-icon, .menu-icon {
        font-size: 38px;
        margin-top: 4px;
    }
    .menu-icon {
        display: none;
    }
    .guild-icon {
        height: 40px;
        width: 40px;
    }
}