@import "../../node_modules/materialize-css/sass/materialize.scss";


body {
    @extend .grey-text,
    .text-lighten-3;
    font-weight: 600;
    min-height: 100vh;
}

.body-wrapper {
    @extend .section,
    .card,
    .grey,
    .darken-4;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
    margin-top: 25px;
}

.header_user {
    height: 100%;
    width: auto;
}
.join-discord {
    margin-left: 10px;
    margin-top: 13px;
}

.discord-avatar {
    @extend .z-depth-2;
    border-radius: 50%;
    height: 79%;
    width: auto;
    margin-top: 11%;
    margin-right: 7px;
    cursor: pointer;
}

.favicon {
    height: 79%;
    width: auto;
    margin-left: 7px;
    margin-top: 11%;
}

.modal {
    @extend .grey,
    .darken-3,
    .grey-text,
    .text-lighten-2;
}

.modal-footer {
    @extend .grey,
    .darken-4,
    .grey-text,
    .text-lighten-2;
}

.btn {
    @extend .waves-light,
    .btn,
    .grey-text,
    .text-lighten-2,
    .grey,
    .darken-3;
}

.btn-flat {
    @extend .waves-light,
    .grey-text,
    .text-lighten-2;
}

@media screen and (max-width: 800px) {
    .join-discord {
        display: none !important;
    }
}